@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
:root{
    /* =====colors===== */
    --body-color: #e4e9f7;
    --sidebar--color: #fff;
    --primary-color:  #ff0157;
    --toggle-color: #DDD;
    --text-color: #707070;
    --primary-color-light: #F6F5FF;

    /* ====Transition==== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

}
body{
    height: 100vh;
    background: var(--sidebar--color);
    display: flex;
    flex-direction: row;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
    
}

.nav-wrapper {
    display: flex;
    align-items: center;

    .bx {
        background: #ff0178;
        border-radius: 50%;
        color:#111;
        font-size: 1.5rem;
        margin-left: 0.75rem;
        margin-top: 4px;
        cursor: pointer;
    }
}

.sidebar.close .header-text {
    display: none;
}

.sidebar.close .image {
    display: block;
}

.image {
    display: none;
    font-weight: 700;
    font-size: 2rem;
}
.image h1{
    color:#ff0157 ;
}

.logo {
    color: #111 !important;
}

.body-wrapper {
    margin-left: auto;
    width: 85%;
    transition: all 0.2s ease-in-out;
}

.sidebar.close .text{
   opacity: 0;
}

.sidebar.close + .body-wrapper {
    width: 95% !important;
}

.sidebar{
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    padding: 10px 14px;
    background: var(--body-color);
}
.sidebar.close{
    width: 100px;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
} 
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header {
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar--color);
    font-size: 22px;
}
.sidebar .search-box{
    background: var(--primary-color-light);
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light)
}
.sidebar li a{
    height: 100%;
    width: 100% ;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
}
.sidebar li a:hover{
    background: var(--primary-color);

}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar--color);
}
.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

p{
    font-weight: 300;
    color: #111;
}
body{
    min-height: 1000px;
    
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/bg.jpg); 
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 1.2s;
}
.btn:hover{
    letter-spacing: 8px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition: 0.5s;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05s);
}
.logo{
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
.sticky .logo{
    color: #111; 
}
.logo span{
    color: #ff0178;
}
.navigation{
    position: relative;
    display: flex;
}
.navigation li{
    list-style: none;
    margin-left: 30px;
}
.navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
sticky .navigation li a{
    color:#111;
}
.navigation li a:hover{
    color: #ff0178;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titletext{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titletext span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.menu .content .box{
    width: 500px;
    margin: 15px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text{
    padding: 15px 0 5px;
}
.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text{
    padding: 15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;

}
.testimonials{
    background: url(images/bg2.jpg);
    background-size: cover;
}
.testimonials .titletext{
    color: #fff;
}
.testimonials .title p{
    color: #fff;
}
.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text p{
    color: #666;
    font-size: initial;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 800;
}
.contact{
    background: url(images/bg3.jpg);
    background-size: cover ;
}
.contactForm{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}
.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 991px){
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .menuToggle.active{
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
      width: 300px;
    }
  }
  
  @media (min-width: 1024px) {
    .sidebar {
      width: 400px;
    }
  }@media (max-width: 768px) {
    body {
      background-color: #fff;
      background-image: url(images/bg.jpg);
    }
  }




